/* Give your page a fun background color */
body {background-color: CornflowerBlue;}
/* Make the header and footer a different color from the background */
h1 {background-color: LightGoldenRodYellow; width: 200px;}
footer {background-color: PapayaWhip;}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center; margin: auto;}
/* Make your p tag a different color and italic */
p {color: FireBrick; font-style: italic;}
/* Put a border around your image */
.selfie {width: 200px; height: 200px; object-fit: cover; border-radius:100%; border: 20px solid WhiteSmoke;}
/* Change the font-family of your list */
ul {font-family: "Courier New", Papyrus, Arial;}
.column {float: left; width: 33.33%; text}
.grrm {width: 350px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
